.contacts {
    display: inline-block;
}

.contacts a {
    text-decoration: none;
    color: inherit;
}

.contacts__left {
    float: left;
}

.contacts__right {
    float: right;
}

.contacts__contact {
    transition: color, background-color 0.5s;
    padding: 5px;
}

.contacts__right .contacts__contact:hover {
    color: white;
}

.contact__icon {
    text-align: right;
}

.contact__text {
    text-align: left;
}

#facebook-contact:hover {
    background-color: rgb(59,89,152);
}

#github-contact:hover {
    background-color: #6cc644;
}

#twitter-contact:hover {
    background-color: #00acee;
}

#skype-contact:hover {
    background-color: #12A5F4;
}