.nav-container {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    display: block;
}

.nav-container--fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--card-bg-color);
    width: 100vw;
    padding: 10px;
    z-index: 100;
}

.navlink {
    text-decoration: none;
    color: var(--card-text-color);

    background: rgba(209, 209, 209, 0.8);

    padding: 7px;
    border-radius: 5px;
    line-height: 40px;

    transition: box-shadow 0.5s;

    white-space: nowrap;
}

.navlink:hover {
    box-shadow: 3px 3px 35px -5px rgba(0,0,0,0.32);
}

.navlink.active {
    background: rgba(32, 43, 59, 0.4);
}
